@inject I18n I18n

<MCard Width=510 Height=680 Class="mx-auto my-auto">
    <div style="height:60px;">
        账号1：admin1 admin1
        <br />
        账号2：admin2 admin2
        <br />
        账号3：admin2 admin3
    </div>
    <div class="mt-2 mx-auto text-center" style="width:420px;">
        <MAvatar Size=80>
            <MImage Src="/img/pms.svg"></MImage>
        </MAvatar>
        <h5 class="mt-2 mb-12">@I18n.T("LoginWelcome")</h5>
        <MForm Model="@_loginViewModel" EnableDataAnnotationsValidation OnSubmit="HandleOnLogin">
            <MTextField @bind-Value="@_loginViewModel.LoginAccount" TValue="string"
                        Label="@I18n.T("Account")"
                        Outlined
                        HideDetails="@("auto")">
            </MTextField>
            <MTextField @bind-Value="@_loginViewModel.LoginPassword" TValue="string"
                        Class="mt-10"
                        Label="@I18n.T("Password")"
                        Type="@(LoginPasswordShow ? "text" : "password")"
                        AppendIcon="@(LoginPasswordShow ? "mdi-eye" : "mdi-eye-off")"
                        OnAppendClick="()=>LoginPasswordShow = !LoginPasswordShow"
                        Outlined
                        HideDetails="@("auto")">
            </MTextField>
            <MButton Loading="@ButtonLoading" Class="mt-11 rounded-4 text-btn white--text" Type="submit" Height=46 Width=340 Color="primary">@I18n.T("Login")</MButton>
        </MForm>
    </div>
</MCard>

